.search{
    width: 350px;
    margin-right: 1rem;
}

#myUL {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
    visibility: hidden;
}

#myUL li a {
    border: 1px solid #ddd;
    /* Add a border to all links */
    margin-top: -1px;
    background-color: #f6f6f6;
    padding: 12px;
    /* Remove default text underline */
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
}

#myUL li a:hover:not(.header) {
    /* Add a hover effect to all links, except for headers */
    background-color: #eee;
}