@import url(https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'EB Garamond', serif;
}

.top-menu {
    display: flex;
    list-style: none;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 5rem;
    background: white;
    list-style: none;
}

h2 {
    font-size: 5rem;
}

ul {
    display: flex;
    list-style: none;
    align-items: center;
}

a {
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
    margin-left: 5rem;
}

.logo {
    position: absolute;
    width: 8%;
    height: 8%;
    left: 50%;
    top: 50%;
    font-size: 1.5rem;
    transform: translate(-50%, -50%) scale(6);
}

.small-logo {
    width: 25%;
    height: 25%;
    padding-left: 1px;
    padding-top: 1px;
}

.homepage a.hover-text:hover,
.homepage a.hover-text:active {
    font-size: 150%;
    color: rgb(230, 230, 33);
}

a.hover-text:hover,
a.hover-text:active {
    font-size: 150%;
    color: rgb(230, 230, 33);
}

a.hover:hover,
a.hover:active {
    color: rgb(230, 230, 33);
}


/* video */

.container .popup-video {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: rgba(0, 0, 0, 0.8);
    height: 100%;
    width: 100%;
}

.container .popup-video video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    border-radius: 5px;
    border: 3px solid white;
    object-fit: cover;
}

.container .popup-video span {
    position: absolute;
    top: 5px;
    right: 10px;
    color: white;
    font-weight: border;
    z-index: 100;
    cursor: pointer;
    font-size: 30px;
}

@media (max-width: 768px) {
    .container .popup-video video {
        width: 95%;
    }
}


/* end video */


/* start Fan Favorite */

.movie-container .video-container .movie-title span {
    text-align: center;
}

.movie-container {
    position: relative;
    min-height: 100vh;
    background-color: white;
}

.movie-container h3 {
    padding-left: 2px;
    margin-bottom: 1rem;
    padding-left: 100px;
    font-weight: bold;
    font-size: 25px;
}

.movie-container p {
    padding-left: 100px;
    margin-top: -0.5rem;
    padding-bottom: 2px;
}

.movie-container .video-container .movie-title h4 {
    padding-top: 10px;
    text-align: center;
}

.movie-container .video-container .movie-title p {
    padding-top: 10px;
    margin-left: auto;
}

.movie-container .video-container .movie-title .imdbRatingPlugin {
    margin-left: 110px;
}

.movie-container .video-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 10px;
}

.movie-container .video-container .video {
    height: 250px;
    width: 350px;
    border: 5px solid white;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
    cursor: pointer;
    overflow: hidden;
}

.movie-container .video-container .video video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
}

.movie-container .video-container .video:hover video {
    transform: scale(1.1);
}

.movie-container .popup-video {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: rgba(0, 0, 0, 0.8);
    height: 100%;
    width: 100%;
    display: none;
}

.movie-container .popup-video video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    border-radius: 5px;
    border: 3px solid white;
    object-fit: cover;
}

.movie-container .popup-video span {
    position: absolute;
    top: 5px;
    right: 10px;
    color: white;
    font-weight: border;
    z-index: 100;
    cursor: pointer;
    font-size: 20px;
}

@media (max-width: 768px) {
    .movie-container .popup-video video {
        width: 95%;
    }
}


/* end Fan Favorite */

.homepage {
    height: 100vh;
}

.square {
    width: 10rem;
    height: 10rem;
    background: lightgrey;
    position: absolute;
    top: 70%;
    left: 70%;
}


/* Sticky footer position and size
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 300px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 300px;
}


/* Taller footer on small screens */

@media (max-width: 567em) {
    body {
        margin-bottom: 550px;
    }
    .footer {
        height: 550px;
    }
}


/* Sticky footer style and color
-------------------------------------------------- */

footer {
    padding-top: 30px;
    background-color: #292c2f;
    color: #bbb;
}

footer a {
    color: #999;
    text-decoration: none;
}

footer a:hover,
footer a:focus {
    color: #aaa;
    text-decoration: none;
    border-bottom: 1px dotted #999;
}

footer .form-control {
    background-color: #1f2022;
    width: 100%;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
    color: #d1d2d2;
    padding: 1em 1em;
}

.row ul {
    display: flex;
    list-style: none;
    align-items: center;
    margin-top: 1rem;
    text-align: center;
    margin-left: 350px;
}

h5 {
    text-align: center;
    font-size: 20px;
}

form {
    display: table;
    text-align: center;
    margin-left: 32rem;
    margin-top: 1rem;
    width: 30%;
}

button {
    width: 100%;
    font-size: 16px;
}

footer img {
    width: 10%;
    height: 10%;
    margin-top: 10px;
}