@import url(https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: visible;

}
body {
    font-family: 'EB Garamond', serif;
}

.top-menu { 
    margin-left: 43.2%;
   
}
.menu-right{
    display: inline-flex;
    padding: 2rem 5rem;

}

.login{
    margin-top: 1.5rem;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 5rem;
    list-style: none;
}


ul {
    display: fixed;
    list-style: none;
    align-items: left;
  
}

a {
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
    margin-left: 5em;
}

.logo {
    font-family: 'EB Garamond', serif;
    position: absolute;
    width: 8%;
    height: 8%;
    left: 50%;
    top: 50%;
    font-size: 1.5rem;
    transform: translate(-50%, -50%) scale(6);
}

.small-logo {
    width: 25%;
    height: 25%;
    padding-left: 1px;
}

.copy-logo{
    width: 15%;
    height: 15%;
    padding-left: 1px; 

}

.homepage a.hover-text:hover
{
    font-size: 150%;
    color: #ddd12d;
}


.active{
    color: #ddd12d;
}

.active-button{
    color: #ddd12d;
}

a.hover-text:hover
{
    font-size: 150%;
    color: #ddd12d;
}

a:hover{
    color: #ddd12d;
}


/* video */

.container .popup-video {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: rgba(0, 0, 0, 0.8);
    height: 100%;
    width: 100%;
}

.container .popup-video video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    border-radius: 5px;
    border: 3px solid white;
    object-fit: cover;
}

.container .popup-video span {
    position: absolute;
    top: 5px;
    right: 10px;
    color: white;
    font-weight: border;
    z-index: 100;
    cursor: pointer;
    font-size: 30px;
}

@media (max-width: 768px) {
    .container .popup-video video {
        width: 95%;
    }
}


/* end video */


/* start Fan Favorite */

.movie-container .video-container .movie-title span {
    text-align: center;
}

.movie-container {
    position: relative;
    min-height: 100vh;
    background-color: white;
}

.movie-container h3 {
    padding-left: 2px;
    margin-bottom: 1rem;
    padding-left: 100px;
    font-weight: bold;
    font-size: 25px;
}

.movie-container p {
    padding-left: 100px;
    margin-top: -0.5rem;
    padding-bottom: 2px;
}

.movie-container .video-container .movie-title h4 {
    padding-top: 10px;
    text-align: center;
}

.movie-container .video-container .movie-title p {
    padding-top: 10px;
    margin-left: auto;
}

.movie-container .video-container .movie-title .imdbRatingPlugin {
    margin-left: 110px;
}

.movie-container .video-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 10px;
}

.movie-container .video-container .video {
    height: 250px;
    width: 350px;
    border: 5px solid white;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
    cursor: pointer;
    overflow: hidden;
}

.movie-container .video-container .video video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
}

.movie-container .video-container .video:hover video {
    transform: scale(1.1);
}

.movie-container .popup-video {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: rgba(0, 0, 0, 0.8);
    height: 100%;
    width: 100%;
    display: none;
}

.movie-container .popup-video video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    border-radius: 5px;
    border: 3px solid white;
    object-fit: cover;
}

.movie-container .popup-video span {
    position: absolute;
    top: 5px;
    right: 10px;
    color: white;
    font-weight: border;
    z-index: 100;
    cursor: pointer;
    font-size: 20px;
}

@media (max-width: 768px) {
    .movie-container .popup-video video {
        width: 95%;
    }
}



.homepage {
    height: 100vh;
    background-color: white;
}





.login form {
    display: table;
    text-align: center;
    width: 40%;
}





.footer-distributed{
	background: #444;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	padding: 60px;
    padding-top: 0;
	overflow: hidden;
    font: bold 14px sans-serif;
}



/* Footer left */

.footer-distributed .footer-left{
	float: center;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
}

.footer-distributed img{
    margin-bottom: -2rem;
}
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
    margin-bottom: 15px;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-links a:hover{
    color:  #ddd12d;

}

/* Footer social icons */

.footer-distributed .footer-icons{
	margin-top: 40px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 5px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-bottom: 10px;
}

.footer-distributed .footer-icons a:hover{
    background-color:  #ddd12d;
}
/* Footer Right */



.footer-distributed .footer-right p{
	display: inline-block;
	vertical-align: top;
	margin: 30px 40px 0 0;
	color: #ffffff;
}

/* The contact form */

.footer-distributed form{
	display: inline-block;
}

.footer-distributed form input,
.footer-distributed form textarea{
	display: block;
	border-radius: 3px;
	box-sizing: border-box;
	background-color:  #1f2022;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
	border: none;
	resize: none;

	font: inherit;
	font-size: 14px;
	font-weight: normal;
	color:  #d1d2d2;

	width: 400px;
	padding: 18px;
}

.footer-distributed ::-webkit-input-placeholder {
	color:  #5c666b;
}

.footer-distributed ::-moz-placeholder {
	color:  #5c666b;
	opacity: 1;
}

.footer-distributed :-ms-input-placeholder{
	color:  #5c666b;
}


.footer-distributed form input{
	height: 55px;
	margin-bottom: 15px;
}

.footer-distributed form textarea{
	height: 100px;
	margin-bottom: 20px;
}

.footer-distributed form button{
	border-radius: 5px;
	background-color:  #33383b;
	color: #ffffff;
	border: 0;
	padding: 15px 50px;
	font-weight: bold;
	float: center;
}

.footer-distributed form button:hover{
    background-color:  #ddd12d; 
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 1000px) {

	.footer-distributed {
		font: bold 14px sans-serif;
       
	}

	.footer-distributed .footer-company-name{
		font-size: 12px;
	}

	.footer-distributed form input,
	.footer-distributed form textarea{
		width: 250px;
	}

	.footer-distributed form button{
		padding: 10px 35px;
	}

    .footer-distributed form button:hover{
        background-color:  #ddd12d; 
    }

}

@media (max-width: 800px) {

	.footer-distributed{
		padding: 30px;
	}

	.footer-distributed .footer-left{
		float: none;
		max-width: 300px;
		margin: 0 auto;
	}



	.footer-distributed .footer-left{
		margin-bottom: 40px;
	}

	.footer-distributed form{
		margin-top: 30px;
	}

	.footer-distributed form{
		display: block;
	}

	.footer-distributed form button{
		float: none;
	}

    .footer-distributed form button:hover{
        background-color:  #ddd12d; 
    }
}
